<!DOCTYPE html>
<html lang="en">
<%
  let dashboardBt ='';
  if (name == "admin") {
    dashboardBt = '<li class="nav-item"><a class="nav-link" href="/admin/dashboard">Dashborad <span class="sr-only">(current)</span></a></li>';
  }
  %>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/mystyle.css">
  <title>web</title>
</head>

<body class="bgColor2">
  <nav class="navbar navbar-expand-lg navbar-light bgTransparent">
    <a class="navbar-brand" href="#">
      <img src="/images/si.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      Scientific Computing
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li>
          <button type="button" class="btn btn-danger">
            <%= name  %></button>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/landing">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Content
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/matrix/matrixmultiplication">Matrix Review</a>
            <a class="dropdown-item" href="/norm">Norm</a>
            <a class="dropdown-item" href="/linearequation">Systems of Linear Equations</a>
            <a class="dropdown-item" href="/interpolation">Interpolation</a>
            <a class="dropdown-item" href="/choleskyFactorization">Cholesky Factorization</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <%- dashboardBt %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log out <span class="sr-only">(current)</span></a>
        </li>

        <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> -->
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    </div>
  </nav>
  <div class="container">
    <div class="row my-5">

      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Cholesky Factorization</h1>
          

          </div>
        </div>
      </div>
    </div>

  </div>
  <footer>
    <div class="jumbotron bgTransparent">

      <div class="col-6 col-sm-6">
        <img src="/images/SIITlogo.jpeg" width="100" height="70" class=" " alt="">
      </div>
      <div class="col-6 col-sm-6">
        <p class="lead">This is part of <strong>SIIT</strong> senior project. Created by <strong>G45</strong> </p>
        <hr>
        <!-- <a href="#">Facebook</a>
        <a href="#">Twitter</a> -->
      </div>
    </div>




  </footer>
  <!-- <img src="../chaweng.jpg" class="img-fluid" alt="Responsive image"> -->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript">
    let normCount = 3;

    function addNorm() {
      normCount++;
      let normTableBodyStr = '';
      document.getElementById("normTableBody").innerHTML = "";
      for (let i = 1; i <= normCount; i++) {
        normTableBodyStr += '<tr><th scope="row">' + i + '</th>' + '<td><input type="text" class="form-control form-control-sm width2" id="n' + i + '"'+ ' onchange="'+'setInputToDefult(\'n'+i +'\')" ></td></tr>';
      }
      $('#normTableBody').append(normTableBodyStr);
    }

    function delNorm() {
      normCount--;
      let normTableBodyStr = '';
      document.getElementById("normTableBody").innerHTML = "";
      for (let i = 1; i <= normCount; i++) {
        normTableBodyStr += '<tr><th scope="row">' + i + '</th>' + '<td><input type="text" class="form-control form-control-sm width2" id="n' + i + '"'+ ' onchange="'+'setInputToDefult(\'n'+i +'\')" ></td></tr>';
      }
      $('#normTableBody').append(normTableBodyStr);
    }
    function calculateNorm() {
      let toSendData = [];
      let allowToSend = true;
      let notFiniteErrorIndex = "";
      let emptyErrorIndex = "";
      for(let i =1;i<=normCount;i++){
        id = "n"+i;
        if (!isFinite(document.getElementById(id).value)) {
          notFiniteErrorIndex+= "#"+i+",";
          allowToSend = false;
          let elementToChange = document.getElementById(id);
          elementToChange.className += " border-danger";
        }else if (document.getElementById(id).value == "") {
          emptyErrorIndex+= "#"+i+",";
          allowToSend = false;
          let elementToChange = document.getElementById(id);
          elementToChange.className += " border-danger";
        }
         else {
          toSendData.push(document.getElementById(id).value);
          console.log(toSendData);
        }
      }
      if(allowToSend){
        // send to server
        $.post("norm/calculatenorm", {
            norm: toSendData
          },
          function(data, status) {
            let solution = data.solution;
            let solution2 = data.solution2;
            let solution3 = data.solution3;
            let answer = data.answer;
            console.log(solution,solution2,solution3,answer);
            document.getElementById("solDiv").innerHTML='';
            $('#solDiv').append('<div class="col-12 "><h2>Solution</h2></div><div class="col-12 px-5"><div class="overflow-auto"><h4 class="px-1 ">= <span style="white-space: nowrap;">&nbsp;&nbsp;&nbsp;&radic;<span style="text-decoration:overline;">&nbsp;'+solution+'&nbsp;</span></span></h4>'+'<h4 class="px-1 ">= <span style="white-space: nowrap;">&nbsp;&nbsp;&nbsp;&radic;<span style="text-decoration:overline;">&nbsp;'+solution2+'&nbsp;</span></span></h4>'+'<h4 class="px-1 ">= <span style="white-space: nowrap;">&nbsp;&nbsp;&nbsp;&radic;<span style="text-decoration:overline;">&nbsp;'+solution3+'&nbsp;</span></span></h4></div></div>');

            $('#solDiv').append('<div class="col-12 "><h2>Answer</h2></div><div class="col-12 px-5"><h4>= '+answer+'</h4></div>');
            // <div class="col-12 ">
            //   <h1>Solution</h1>
            // </div>
            // <div class="col-12 px-5">
            //   <h2>sol</h2>
            //   <div class="overflow-auto">
            //
            //   <h4 class="px-1 ">= <span style="white-space: nowrap;">&nbsp;&nbsp;&nbsp;&radic;<span style="text-decoration:overline;" id="solutionSpan">&nbsp;2-2-2asdlkwerenrkerntkjdbgkdbgkdjfbgkdfjgbdk&nbsp;</span></span></h4>
            //   <h4 class="px-1 ">= <span style="white-space: nowrap;">&nbsp;&nbsp;&nbsp;&radic;<span style="text-decoration:overline;" id="solutionSpan">&nbsp;2-2-2asdlkwerenrkerntkjdbgkdbgkdjfbgkdfjgbdk&nbsp;</span></span></h4>
            // </div>
            // </div>
            // <div class="col-12 px-5">
            //   <h2>Answer</h3>
            // </div>


            // document.getElementById("changableContent1").innerHTML = "";
            // $('#changableContent1').append("<h1>Solution</h1>");
            // createSolutionTableForMatrixC(solution);
            // $('#changableContent1').append("<h1>Answer</h1>");
            // createTableForMatrixC(receive);
            // $('#changableContent1').append('<a href="/matrix/matrixmultiplication"  class="btn btn-primary">Go back</a>');
          });
      }
      else{
        let errorToShow = "Error! "+notFiniteErrorIndex+emptyErrorIndex+" are not a number!! or empty!!";
        document.getElementById("errorMsg").innerHTML = errorToShow;
      }
    }
    function setInputToDefult(arg1){
      document.getElementById(arg1).classList.remove('border-danger');
    }
  </script>
</body>

</html>
