<!DOCTYPE html>
<html lang="en">
<%
  let dashboardBt ='';
  if (name == "admin") {
    dashboardBt = '<li class="nav-item"><a class="nav-link" href="/admin/dashboard">Dashborad <span class="sr-only">(current)</span></a></li>';
  }
  %>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/mystyle.css">
  <title>web</title>
</head>

<body class="bgColor2">
  <nav class="navbar navbar-expand-lg navbar-light bgTransparent">
    <a class="navbar-brand" href="#">
      <img src="/images/si.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      Scientific Computing
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li>
          <button type="button" class="btn btn-danger">
            <%= name  %></button>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/landing">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Content
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/matrix/matrixmultiplication">Matrix Review</a>
            <a class="dropdown-item" href="/norm">Norm</a>
            <a class="dropdown-item" href="/linearequation">Systems of Linear Equations</a>
            <a class="dropdown-item" href="/interpolation">Interpolation</a>
            <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </li>
        <%- dashboardBt %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log out <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row my-5">

      <div class="col-12">
        <div class="card">

          <div class="col-12 my-3">
            <div class="">
              <div class="">



                <h1 class="card-title">Systems of Linear Equations</h1>
                <hr>
                <br>


                <h6 class="card-subtitle mb-2">Normally we solve systems of linear equations using "elimination" ... but now we are going to solve it using Matrices.</h6>
                <br>
                <center><img src="/images/linear-eg.jpg" width="300" height="140" class=" " alt=""></center>
                <br>
                <h6 class="card-subtitle mb-2">The linear equations systems can be rewrite in a matrix in form of: </h6>
                <br>
                <h6 class="card-subtitle mb-2">
                  <center>AX= B </center>
                </h6>
                <br>
                <h6 class="card-subtitle mb-2">From the given example, the matrix is shown below:</h6>
                <br>

                <center><img src="/images/linear-eg2.jpg" width="250" height="80" class=" " alt=""></center>

                <div class="row justify-content-around my-5 margin-15" id="changableContent2">
                  <div class="card">
                    <div class="card-body">

                      <h6 class="card-subtitle mb-2 text-muted">where,</h6>
                      <br>
                      <h6 class="card-subtitle mb-2 text-muted">
                        <li>A is the 3x3 matrix of x<sub>1</sub>, x<sub>2</sub> and x<sub>3</sub> coefficients.</li>
                      </h6>
                      <br>
                      <h6 class="card-subtitle mb-2 text-muted">
                        <li>X is x<sub>1</sub>, x<sub>2</sub> and x<sub>3</sub>. </li>
                      </h6>
                      <br>
                      <h6 class="card-subtitle mb-2 text-muted">
                        <li>B is 6, −4 and 27. </li>
                      </h6>
                    </div>
                  </div>
                </div>

                <h6 class="card-subtitle mb-2 ">Next, find the value of X in form of:</h6>
                <br>
                <h6 class="card-subtitle mb-2">
                  <center>X= A<sup>-1</sup>B </center>
                </h6>
                <br>
                <h6 class="card-subtitle mb-2 ">With the inverse of A:</h6>
                <br>
                <center><img src="/images/linear-eg3.jpg" width="300" height="80" class=" " alt=""></center>
                <br>
                <h6 class="card-subtitle mb-2 ">Then by multiplying the inverse of the A matrix by the B matrix, the X matrix is calculated:</h6>
                <br>

                <center><img src="/images/linear-eg4.jpg" width="510" height="80" class=" " alt=""></center>
                <br>
                <br>
                <h6 class="card-subtitle mb-2 ">Thus x<sub>1</sub>, x<sub>2</sub> and x<sub>3</sub> are 5, 3 and -2, respectively.</h6>


                <br>

                <br>
                <h3 class="card-subtitle mb-2 text-muted">System of Linear Equation Calculator</h3>
                <hr>
                <h5 class="card-subtitle mb-2">Try solving systems of linear equations yourself and check the solution with the calculator below</h5>
              </div>

            </div>

          </div>





          <div class="card-body">


            <h4 class="card-subtitle mb-2 text-muted">Enter inputs</h4>

            <h6 class="card-subtitle mb-2 text-muted">Click on "+" button to add more equations</h6>
            <br>
            <div class="container" id="equationsInput">

              <div class="row justify-content-center" id="linear1">

                <div class="col-sm-9 col-12">
                  <div class="input-group ">
                    <h5>Eq.1 : </h5>
                    <input type="text" class="form-control form-control-sm rounded  " id="equa1X1" placeholder="" name="equa1X1" value="">
                    <h5>x1+</h5>

                    <input type="text" class="form-control form-control-sm rounded " id="equa1X2" placeholder="" name="equa1X2" value="">
                    <h5>x2</h5>

                    <h5>&nbsp =</h5>
                    <input type="text" class="form-control form-control-sm rounded " id="equa1Right" placeholder="" name="equa1Right" value="">
                  </div>
                </div>



              </div>
              <div class="row justify-content-center" id="linear2">

                <div class="col-sm-9 col-12">
                  <div class="input-group ">
                    <h5>Eq.2 : </h5>
                    <input type="text" class="form-control form-control-sm rounded width2 " id="equa2X1" placeholder="" name="equa2X1" value="">
                    <h5>x1+</h5>

                    <input type="text" class="form-control form-control-sm rounded width2 " id="equa2X2" placeholder="" name="equa2X2" value="">
                    <h5>x2</h5>

                    <h5>&nbsp =</h5>
                    <input type="text" class="form-control form-control-sm rounded width2 " id="equa2Right" placeholder="" name="equa2XRight" value="">
                  </div>
                </div>



              </div>
            </div>
            <div class="container  my-4">
              <div class="row justify-content-center  my-4">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-outline-success width2" onclick="addEquation()">+</button>
                  <button type="button" class="btn btn-outline-danger width2" onclick="delEquation()">-</button>
                </div>
              </div>
              <div class="row justify-content-center my-4">
                <button type="button" class="btn btn-primary" onclick="calculateEquations()">Calculate equations</button>
              </div>

            </div>



          </div>
        </div>
      </div>

    </div>
  </div>
  <footer>
    <div class="jumbotron bgTransparent">

      <div class="col-6 col-sm-6">
        <img src="/images/SIITlogo.jpeg" width="100" height="70" class=" " alt="">
      </div>
      <div class="col-6 col-sm-6">
        <p class="lead">This is part of <strong>SIIT</strong> senior project. Created by <strong>G45</strong> </p>
        <hr>
        <!-- <a href="#">Facebook</a>
        <a href="#">Twitter</a> -->
      </div>
    </div>




  </footer>
  <!-- <img src="../chaweng.jpg" class="img-fluid" alt="Responsive image"> -->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript">
    let equationNum = 2;

    function addEquation() {
      equationNum++;
      let tempInput = '';
      document.getElementById("equationsInput").innerHTML = "";
      for (let i = 1; i <= equationNum; i++) {
        tempInput += '<div class="row justify-content-center" id="linear' + i + '"><div class="col-sm-9 col-12"><div class="input-group ">' + '<h5>Eq.' + i + ' : </h5>';
        for (let j = 1; j <= equationNum; j++) {
          if (j == equationNum) {
            tempInput += '<input type="text" class="form-control form-control-sm rounded  width2 " id="equa' + i + 'X' + j + '" name="equa' + i + 'X' + j + '" >';
            tempInput += '<h5>x' + j + '</h5>';
          } else {
            tempInput += '<input type="text" class="form-control form-control-sm rounded  width2 " id="equa' + i + 'X' + j + '" name="equa' + i + 'X' + j + '" >';
            tempInput += '<h5>x' + j + '+</h5>';
          }
        }
        tempInput += '<h5>&nbsp =</h5><input type="text" class="form-control form-control-sm rounded width2 " id="equa' + i + 'Right" name="equa' + i + 'Right"></div></div></div>';

      }
      $('#equationsInput').append(tempInput);
    }

    function delEquation() {
      if (equationNum > 2) {
        equationNum--;
        let tempInput = '';
        document.getElementById("equationsInput").innerHTML = "";
        for (let i = 1; i <= equationNum; i++) {
          tempInput += '<div class="row justify-content-center" id="linear' + i + '"><div class="col-sm-9 col-12"><div class="input-group ">' + '<h5>Eq.' + i + ' : </h5>';
          for (let j = 1; j <= equationNum; j++) {
            if (j == equationNum) {
              tempInput += '<input type="text" class="form-control form-control-sm rounded  width2 " id="equa' + i + 'X' + j + '" name="equa' + i + 'X' + j + '" >';
              tempInput += '<h5>x' + j + '</h5>';
            } else {
              tempInput += '<input type="text" class="form-control form-control-sm rounded  width2 " id="equa' + i + 'X' + j + '" name="equa' + i + 'X' + j + '" >';
              tempInput += '<h5>x' + j + '+</h5>';
            }
          }
          tempInput += '<h5>&nbsp =</h5><input type="text" class="form-control form-control-sm rounded width2 " id="equa' + i + 'Right" name="equa' + i + 'Right"></div></div></div>'

        }
        $('#equationsInput').append(tempInput);
      }
    }

    function calculateEquations() {
      let matrixEquationToSend = [];
      let matrixRightSideToSend = [];
      let allowToCalculate = true;
      for (let i = 1; i <= equationNum; i++) {
        let arrayEquation = [];
        for (let j = 1; j <= equationNum; j++) {
          let inputId = "equa" + i + "X" + j;
          let inputValue = document.getElementById(inputId).value;
          console.log(inputId);
          console.log(inputValue);
          if ($.isNumeric(inputValue)) {
            arrayEquation.push(parseFloat(inputValue));
            console.log("Success push" + "Id " + inputId + ":" + inputValue);
          } else {
            console.log("Not allowToCalculate B/C inputValue is !isNumeric");
            allowToCalculate = false;
          }
        }
        if (allowToCalculate) {
          let rightValue = document.getElementById("equa" + i + "Right").value;
          if ($.isNumeric(rightValue)) {
            matrixEquationToSend.push(arrayEquation);
            matrixRightSideToSend.push(rightValue);
            console.log(arrayEquation);
          } else {
            console.log("Not allowToCalculate B/C RightValue is !isNumeric ");
            allowToCalculate = false;
          }
        }
      }
      // send or not send to server
      if (allowToCalculate) {
        console.log("Sendding to server..");
        console.log("matrixEquationToSend:");
        console.log(matrixEquationToSend);
        console.log("matrixRightSideToSend")
        console.log(matrixRightSideToSend);
        $("#errorMsg").remove();
        $("#h1Result").remove();
        $("#toShowSol").remove();
        // Sendding
        $.post("linearequation/calculatelinearequation", {
            equations: matrixEquationToSend,
            rightEquation: matrixRightSideToSend
          },
          function(data, status) {
            let solution = data.solution;
            console.log("Solution");
            console.log(solution);
            let toShowSol = [];
            for (let i = 0; i < data.solution.length; i++) {
              toShowSol.push("x" + (i + 1) + " = " + data.solution[i]);
            }

            $('#equationsInput').append('<h2 id="h1Result">Result</h1>');
            $('#equationsInput').append('<h4 id="toShowSol">' + toShowSol + '</h4>');

          });
      } else {
        console.log("Not Sendding to server");
        $("#errorMsg").remove();
        $('#equationsInput').append('<h6 id="errorMsg">Error some coefficients is not a number.</h6>');
      }
    }
  </script>
</body>

</html>
